<div class="container">
  <div class="row">
    <div class="col-md-12 comments-title">
        <h2>Comments</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">


      <ng-template #nocoment><p [ngStyle]="{'color': 'red'}">Nothing</p></ng-template>

      <ul>
        <li *ngFor="let comment of comments, let i = index; trackBy:commentTrackerFunction" class="mb-2">

          <ng-container *ngIf="comment.name>'' && comment.comment>''; else nocoment;">
          {{ i }} - {{ comment.id }} - {{ comment.name }} - {{ comment.comment }} - {{ comment.fecha }}
          </ng-container>

        </li>
      </ul>

      <!--
      <p class="user"><strong>{{ user1 }}</strong> {{ fecha }}</p>
      <p class="comment">{{ comment1 }}</p>
      <p class="user"><strong>{{ user2 }}</strong> {{ fecha }}</p>
      <p class="comment">{{ comment2 }}</p>
      <p class="user"><strong>{{ user3 }}</strong> {{ fecha }}</p>
      <p class="comment">{{ comment3 }}</p>
      -->

      <hr class="mt-5" />

    </div>
  </div>
</div>

<div class="container my-4">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <form #formulario>

        <div class="form-group">
          <label>Name</label>

          <input #newName class="form-control" placeholder="User" />

          <input type="text" name="nombre" [(ngModel)] = "userName">
          <p> Hello {{userName}}</p>
          <p> Hello {{userName | uppercase}}</p>
        </div>


        <div class="form-group">
          <label>Comment</label>
          <textarea #newComment class="form-control" rows="3" placeholder="Comment"></textarea>
        </div>

        <button type="submit" (click)="addComment($event,formulario);" class="btn btn-primary">Añadir comentario</button>

      </form>
    </div>
  </div>
</div>

<div class='container'>
  <h1>Ejemplos de Pipes</h1>
  <p>&nbsp;</p>
   <p>
    Convertir a mayúsculas:<br>
    Valor original: {{ cadena }}<br>
    Valor convertido: {{ cadena|uppercase }}<br>
  </p>
   <p>
    Convertir a minúsculas:<br>
    Valor original: {{ cadena }}<br>
    Valor convertido: {{ cadena|lowercase }}<br>
  </p>
   <p>
    Formatear un número:<br>
    Valor original: {{ numero }}<br>
    Valor convertido: {{ numero|number :'3.2-2' :'es' }}<br>
    Valor en euros: {{ numero|currency :'EUR' :true :'3.2-2' :'es' }}<br>
  </p>
   <p>
    Serializar un JSON:<br>
    Valor original: {{ personas }}<br>
    Valor convertido: {{ personas | json }}<br>
  </p>
  <p>
      {{fecha2 | date :'full' :'es'}}<br>
      {{fecha2 | date :'full' :'+01:00' :'es'}}<br> <!-- GMT -->
      Valor convertido: {{ cadena2 | capitalize }}<br>

      Valor convertido: {{ cadena2 | smartTruncate : '8' }}<br>

  </p>
 </div>
