.comments-title {
  margin: 2rem 0;
  h2 {
    padding: 1rem 0;
    font-size: 1.5em;
    display: block;
    border-bottom: 1px solid #CFD8DC;;
  }
}

form {
  background: #ECEFF1;
  border: 1px solid #CFD8DC;
  padding: 2rem;
  border-radius: 3px;
}
